/* General CSS */
.swpm-margin-10{
margin: 10px;
}
.swpm-margin-top-10{
margin-top: 10px;
}
.swpm-margin-bottom-10{
margin-bottom: 10px;
}

/* Login form CSS */
.swpm-login-widget-form input,.swpm-login-widget-form checkbox{
width: auto;
}
.swpm-login-widget-form table{
border: none;
}
.swpm-login-widget-form tr{
border: none;
}
.swpm-login-widget-form td{
border: none;
}

/* Password reset form CSS */
.swpm-password-reset-widget-form table{
border: none;
}
swpm-password-reset-widget-form tr{
border: none;
}
.swpm-password-reset-widget-form td{
border: none;
}

/* Registration form CSS */
.swpm-registration-widget-form td{
min-width: 100px;
}
